<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>show result</title>
</head>
<body>
<div id="showleft"></div>
<div id="showmiddle">
  <div id="show">
    <table align="center">
      <tr>
        <td><h3>统一建模语言理论测试</h3></td>
      </tr>
      <tr>
        <td>姓名：<%=username%></td>
      </tr>
      <tr>
        <td>班级：<%=userclass%></td>
      </tr>
      <tr>
        <td>学号：<%=userid%></td>
      </tr>
      <tr>
        <td>成绩：</td>
      </tr>
    </table>
  </div>
</div>
<div id="showright"></div>
</body>
<link rel="stylesheet" href="./mycss.css">
</html>
