body {
  margin: 0;
  padding: 0;
}

#indexleft{
	width: 300px;
	height: 1630px;
	float: left;
	background: #ddd;
	position: absolute;
	left: 0;
	top: 0;
}

#indexmiddle{
	height: 1630px;
	float: left;
	margin: 0 300px 0 300px;
  padding-left: 35px;
}

#indexright{
  width: 300px;
	height: 1630px;
	float: right;
	background: #ddd;
	position: absolute;
	right: 0;
	top: 0;
}

#title {
  height: 140px;
}

#timer {
  color: white;
}
#content {
  height: 1400px;
}

#button {
  height: 50px;
}

.text {
  border-bottom: #aaa 1px solid;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#textarea {
  resize: none;
}

#showleft{
	width: 300px;
	height: 740px;
	float: left;
	background: #ddd;
	position: absolute;
	left: 0;
	top: 0;
}

#showmiddle{
	height: 740px;
	float: left;
	margin: 0 300px 0 300px;
  padding-left: 35px;
}

#showright{
  width: 300px;
	height: 740px;
	float: right;
	background: #ddd;
	position: absolute;
	right: 0;
	top: 0;
}
#show {
  border: double #ddd;
  border-radius: 3%;
  height: 200px;
  width: 300px;
  margin-left: 230px;
  margin-top: 100px;
  font-size: 20px;
}
